{margin: 0;padding: 0;}
#appoin{ 
	position: absolute; 
	left: 480px;
	top: 75px;
	color:white;
	size: 50px;
}
th,tr{
	border: 1px solid white;
	border-left:none;
	border-right:none;
	width: 200px;
	height: 80px;
	font-size: 14px;
	color: black;	
}
table{
	border-collapse: collapse;
	border-left:none;
	border-right:none;
	margin: 100px auto;
	position: absolute;
	left: 550px;
	bottom: 134px;
}
table tr:last-child td{
	border-left: none;
	border-right:none; 
}
#dat{
	position: absolute;
	left: 642px;
	bottom: 400px;
}
#ret{
	position: absolute;
	left: 838px;
	bottom: 402px;
}
#date_input{
	background-color: transparent;
	filter: alpha(opacity=0);
} 
#inp{
	background-color: transparent;
	filter: alpha(opacity=0);
}
