<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理家庭</title>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="../static/css/manage.css" type="text/css" media="all">
    <script src='../static/js/jquery.min.js'></script>
    <script type="text/javascript">
        function editConfig() {
            var form = document.getElementById('form');
            var div = document.getElementById('div');
            form.hidden = !form.hidden;
            div.hidden = !div.hidden;
        }
    </script>
    <script>
        $(document).ready(function () {
            $(".information").toggle();
        });
    </script>
    <script>
        function jump(){
            window.location.href="home.html";
        }
    </script>
</head>
<body>
  <div align="center">
      <button href="#" class="button" id="toggle-register">家庭信息</button>
      <button class="return" ><a href="{% url 'doctor' %}">返回</a></button>
  </div>
  <div align="center">
      {% for fd in fds %}
      <div id="{{ fd.family.user }}" >
        <form method="post">
              <div class="information">
                  <br>
                  <label>家庭名称</label>
                  <h4 class="h">{{ fd.family.user }}</h4>
                  <label>家庭健康状况</label>
                  <h4 class="h">{{ fd.family.text }}</h4>
                  <label>医嘱</label>
                  <input type="text"   placeholder={{ fd.family.advice }} name={{ fd.family.user }} />
                  <input type="submit"  class="btn" value="修改">
              </div>
        </form>
      </div>
      {% endfor %}
{#       <form action="{% url 'manage' %}" id="form" method="POST" hidden>#}
{#           <textarea name="desc" id="text" cols="30" rows="10">#}
{#               {{ fd.family.user }}:{{ advice }}#}
{#           </textarea>#}
{#           <input type="submit" value="提交">#}
{#       </form>#}
  </div>
  <script>
      $('#toggle-register').click(function(){
          $('.information').toggle();
      });
  </script>
</body>
</html>
