body {
    background-image: url("../images/doctor-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.button{
    border-radius: 5px;
    border: 2px solid #7BA7AB;
    width:100px;
    background:wheat;
    margin-top:  5%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#7BA7AB;
    font-size: 15px;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}
.button:hover{
    background:grey;
}
.button1{
    margin-top: 13px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #7BA7AB;
    width:100px;
    background:wheat;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#7BA7AB;
    font-size: 15px;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}
.button1:hover{
    background:grey;
}
#inf{
    margin-top: 30px;
    width: 200px;
    height: auto;
    background-color: wheat;
    border-radius: 5px;
    border: solid 2px snow;
    color: gray;
}
.one{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: snow;
    width: 150px;
    border-radius: 5px;
}