body {
    background-image: url("../images/doctor-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#btn {
    display: table-cell;
    width:200px;
    height:200px;
    border-radius:200px;
    border: 5px solid wheat;
}
.symbol {
    padding-left: 42%;
    padding-top: 10%;
}
.container{
    overflow: hidden;
    display: block;
    text-align:center;
}
#toggle-resume {
    writing-mode:lr-tb;
    width: 400px;
    margin-top: 20px;
    background: wheat;
}
h4{
    color: whitesmoke;
}
p{
    border: 2px solid whitesmoke;
    padding: 10px;
    margin: auto;
    width: 200px;
    color: whitesmoke;
    border-radius: 5px;
}