body
 {
 	background-image: url(../images/background.jpg);
 	background-repeat: no-repeat;
 	background-size: 100%;
 }
*{margin:0;padding:0;}
#edit{
	width: 100px;
    color: white;
    text-align: center;
    font-size: 20px;
    background:black;
    margin-top: 300px;    
    margin-left: 600px;
}
#back{
	color: black;
	margin-left: 630px;
	margin-top: 500px;
}
#text{
	width: 200px;
	height: 200px;
	margin-top: 200px;
	margin-left: 575px;
}
{
	width: 100px;
    color: white;
    text-align: center;
    font-size: 20px;
    background:black;
    margin-top: 700px;    
    margin-left: 800px;
}
