* {box-sizing: border-box;}
body{
  background-image: url("../images/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
button{
  border-radius: 5px;
  border: 2px solid #7BA7AB;
  width:100px;
  background:wheat;
  margin: 0 auto;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:whitesmoke;
  font-size: 15px;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}
.btn{
    margin-top: 50px;
}
.information{
    border: 2px solid #7BA7AB;
    background-color: wheat;
    border-radius: 5px;
    width: 300px;
    height: 350px;
}
label{
    color: whitesmoke;
    padding-top: 20px;
}
.h{
    border: 2px solid #7BA7AB;
    color: #7BA7AB;
    background-color: snow;
    width: 280px;
}
#advice{
    padding: 30px;
    border: 2px solid wheat;
    color: #7BA7AB;
    background-color: snow;
    width: 280px;
}
#toggle-register{
    margin: 10%;
}