body {
    background-image: url("../images/slide-1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
*{margin:0;padding:0;}
.button{
    border-radius: 5px;
    width:100px;
    background:wheat;
    display:block;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:whitesmoke;
    margin:0 auto;
    margin-top:10%;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}
.button:hover{
    background:grey;
}
#triangle{
    width:0;
    border-top:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid wheat;
    border-left:12px solid transparent;
    margin:0 auto;
}
#register{
    width:400px;
    margin:0 auto;
    margin-top:8px;
    margin-bottom:2%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
}
#register h1{
    background:wheat;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}
#acc {
    width:80%;
    border:0;
    padding:4%;
    background: url(../images/user_icon.png) no-repeat;
    background-size:30px 30px;
    background-position: 10px 10px;
    margin:0 auto;
    margin-top:8px;
    margin-left: 22px;
    padding-left: 50px;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
}
#psw {
    width:80%;
    border:0;
    background: url(../images/psw_icon.png) no-repeat;
    background-size:30px 30px;
    background-position: 10px 10px;
    margin:0 auto;
    margin-top:8px;
    margin-left: 22px;
    padding:4%;
    padding-left: 50px;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
}
#email {
    width:80%;
    border:0;
    background: url(../images/email_icon.png) no-repeat;
    background-size:30px 30px;
    background-position: 10px 10px;
    margin:0 auto;
    margin-top:8px;
    margin-left: 22px;
    padding:4%;
    padding-left: 50px;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
}
form{
    background:grey;
    padding:6% 4%;
}
#home{
    width:40%;
    background:wheat;
    border:0;
    padding:4%;
    margin:0 auto;
    margin-top:8px;
    margin-left: 22px;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    border-radius: 5px;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#home:hover{
    background: grey;
}
#reg{
    width:40%;
    background:wheat;
    border:0;
    padding:4%;
    margin:0 auto;
    margin-top:8px;
    margin-left: 22px;
    border-radius: 5px;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}
#reg:hover{
    background: grey;
}
.identitySpan{
    padding-left: 50px;
}
.identity{
    background-color: wheat;
    border: solid 2px;
    border-radius: 5px;
}
.sex{
    background-color: wheat;
    border: solid 2px;
    border-radius: 5px;
}