body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #12FFB9;
    background: -webkit-linear-gradient(#12FFB9, #0066FF);
    background: -o-linear-gradient(#12FFB9, #0066FF);
    background: -moz-linear-gradient(#12FFB9, #0066FF);
    background: linear-gradient(to right, #12FFB9, #0066FF);
}
.header {
    padding: 100px 0 150px;
}

.header-left {
    float: left;
}
.header-right {
    float: right;
}

.header-slider {
    position: relative;
}

.slider-1 {
    width: 95%;
    border: 5px solid #FFF;
    position: relative;
    top: 70px;
    left: 15%;
}
.slider-2 {
    width: 30%;
    position: absolute;
    top: -14%;
    left: 0;
    border: 5px solid #FFF;
    z-index: 99999;
}

.slider {
    position: relative;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.logo {
    text-align: center;
    margin: 50px 0 80px;
    position: relative;
}

.logo a {
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
    color: #EEE;
    padding: 15px 0 40px;
    border-top: 5px solid #EEE;
    border-bottom: 5px solid #EEE;
}

.logo img {
    position: absolute;
    width: 60px;
    top: 78px;
    left: 46%;
    background-color: #058EEC;
}
.header-info p {
    padding: 0 100px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    color: #EEE;
}
.navigation button {
    padding: 0 100px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    color: #EEE;
    border: none;
    background: transparent;
}

#center {
    top: 100px;
}