<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title医生主页</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/doctor.css" rel="stylesheet">
    <script src='../static/js/jquery.min.js'></script>
    <script>
        $(document).ready(function () {
            $("#toggle-resume").toggle();
        });
    </script>
</head>

<body>
  <div class="symbol">
      <img id="btn" src="../static/images/doctor-header.jpg" onclick="fun()"/>
  </div>


  <div class="container" id="toggle-resume" align="center">
    <div class="tab-pane" id="profile">
        <div>
            {% for family in families %}
    <div>
      <h2>{{ family.user }}</h2>
      <div>
        {% for time in family.times %}
          <li>{{ time }}</li>
        {% endfor %}
      </div>
    </div><br><br>
  {% endfor %}
  <br><a href="{% url 'doctor_info' %}">修改个人信息</a><br><br>
  {% for msg in messages %}
    <div style="border: solid">
      {{ msg.family.user }} ask for {{ msg.time }}
      <form action="{% url 'doctor' %}" method="POST">
        <input type="text" name="family" value="{{ msg.family.user }}" hidden>
        <input type="text" name="time" value="{{ msg.time }}" hidden>
        <input type="text" name="act" value="accept" hidden>
        <input type="submit" value="accept">
        <input type="submit" value="descline"
               onclick="changeValue(this);submit()">
      </form>
    </div>
  {% endfor %}
  <a href="{% url 'manage' %}">家庭管理</a><br><br>
  <a href="{% url 'login' %}">退出登录</a><br><br>
  </div>
    </div><!-- Tab Profile -->
  </div>

  <script>
      function fun(){
          $('#toggle-resume').toggle();
      }
  </script>
</body>
</html>