<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<title>私人医生</title>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="../static/css/homepage.css" type="text/css" media="all">
    <script src='../static/js/jquery.min.js'></script>
    <script>
        $(document).ready(function () {
            $("#advice").toggle();
            $("#links").toggle();
        });
    </script>
    <script>
        function jump(){
            window.location.href="home";
        }
    </script>
    <script>
        function putvalue(hot) {
            $.ajax({
                data: JSON.stringify({    // JSON格式封装数据
                    hot: hot
                }),
                contentType: 'application/json',
                type: "POST",
                traditional: true,    // 需要传递列表、字典时加上这句
                success: function(result) {
                },
                fail: function(result) {
                }
            });
        }
    </script>
</head>
<body>
<div align="center">
    <button href="#" class="button" id="toggle-register">我的医嘱</button>
    <button href="#" class="button" id="jump">站内链接</button>
</div>
<div class="theSearch">
    <div class="search d1">

        <form action="{% url 'search' %}" method="post">
            <input type="text" placeholder="search for your physician" name="major">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="hotSearch" align="center">
        <form class="hots" action="{% url 'search' %}" method="post">
            {% for hot in hotmajors %}
                 <input type="submit" class="hot" id="hot"+hot  name="major" value={{ hot}} onclick="putvalue(this.textContent)"/>
            {% endfor %}
        </form>
    </div>
</div>

<div id="advice" align="center">
    <div id="triangle"></div>
    <div id="content">
        <label class="label" id="theDoctor">我的私人医生</label>
        <div class="show1">暂未预约医生</div>
        <label class="label" id="theAdvice">我的医嘱</label>
        <div class="show2">暂无医嘱</div>
    </div>
</div>
<div id="links" align="center">

        <button class="link"><a href="choice" class="a">择医</a></button>
        <button class="link"><a href="appointment" class="a">预约</a></button>
        <button class="link"><a href="history" class="a">编辑</a></button>
        <button class="link"><a href="home" class="a">退出</a></button>

</div>
<script>
    $('#toggle-register').click(function(){
        $('#advice').toggle();
    });
    $('#jump').click(function(){
        $('#links').toggle();
    });
</script>
</body>
</html>
